body {
    font-family: sans-serif;
    background-color: #fcf4e8;
}

#me {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url("dope.jpg");
    background-size: 560px 400px;
}

#main {
	margin: auto;
	padding: auto;
	text-align: center;
	width: 900px;
}